.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

h1{
  font-size: 50px;
  margin: 0px 10px 0px;
}

.castContainer {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(190px, 1fr) );
  padding: 10px;
}

.castGrid {
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.singleView {
  background-color: rgba(255, 255, 255, 0.8);
  margin: auto;
  max-width: 90%;
  text-align: center;
  padding-top: 10px;
}

.cast-list {
  text-align: left;
}

.single-movie {
  background-position: center top;
}

.single-movie-fade {
  background-color: rgb(0, 0, 0, 0.4)
}

.actor-name {
  font-size: medium;
}

.movie-name {
  font-size: large;
  font-weight: bold;

}

.character-name {
  font-size: medium;
}

.release-date{
  font-size: medium;
}

.movie-list-container {
  text-align: center; 
}

.search-form {
  text-align: center;
  padding: 20px 5px 20px 20px
}

.movies-container {
  text-align: center;
  margin: auto;
  min-width: 600px;
  max-width: 90%;
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(190px, 1fr) );
  padding: 10px;
}

.movie-title {
  padding-bottom: 10px;
  font-weight: bold;
}

.title-link {
  text-decoration: none;
  font-size: large;
  font-weight: bold;
}

.clear-btn {
  float: center;
}

.search {
  float: center;
}

#search-input {
  width: 20rem;
  background: #F2F1F9; 
  border: none; 
  padding: 0.5rem;
}
.search-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.greeting {
  text-align: center;
  font-size: x-large;
}

.greeting span {
  font-weight: bold;
}

#submit-btn {
  margin-left: 5px;
}

.cast-character {
  font-weight: normal;
}

.user-form {
  width: 320px;
  margin: 0 auto;
}

.form-field {
  position: relative;
  margin: 20px auto;
}

.form-input {
  display: inline-block;
  line-height: 2em;
  margin: 0;
  padding-left: 10px;
  position: relative;
  width: 100%;
  font-size: medium;
  border: 1px solid grey;
  background-color: white;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-weight: 500;
}

.form-input:focus {
  outline: none;
  border: 3px solid orange;
}

.form-input:focus + .form-label {
  background: orange;
  width: 100%;
  color: white;
  font-size: 70%;
  z-index: 2;
  text-transform: uppercase;
  border-radius: 5px
}

.form-label {
  display: block;
  position: absolute;
  opacity: 0;
  bottom: 1.9rem;
  color: grey;
  transition: 0.2s ease-in-out transform;
  font-size: 18px
}

.form-input:placeholder-shown + .form-label {
  visibility: hidden;
  z-index: -1;
  transition: 0.2s ease-in-out;
}

.form-input:not(:placeholder-shown) + .input-label,
.form-input:focus:not(:placeholder-shown) + .form-label {
  visibility: visible;
  z-index: 1;
  opacity: 1;
  transform: translateY(0px);
  transition: 0.2s ease-in-out transform;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
