.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.castContainer {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}

.castGrid {
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.singleView {
  background-color: rgba(255, 255, 255, 0.8);
  margin: auto;
  max-width: 900px;
  text-align: center;
  padding-top: 10px;
}

.cast-list {
  text-align: left;
}

.single-movie {
  background-position: center top;
}

/* .show-info {
  color: white
} */

.single-movie-fade {
  background-color: rgb(0, 0, 0, 0.4)
}

.actor-name {
  font-size: medium;
}

.movie-list-container {
  text-align: center; 
}

.search-form {
  text-align: center;
  padding: 20px
}

.movies-container {
  text-align: center;
  margin: auto;
  min-width: 600px;
  max-width: 90%;
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(190px, 1fr) );
  padding: 10px;
}

.movie-title {
  padding-bottom: 10px
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
